@import url('https://fonts.cdnfonts.com/css/jaapokki');

.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 9999;
  padding: 0px;
  background: #ffffff;
  -webkit-moz-transition: background 0.3s linear;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);
  border-bottom-color: rgba(0, 0, 0, 0.04);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
}

h1 {
  padding: 10px;
  left: -20px;
  position: relative;
}

.header > .container {
  position: relative;
  font-family: 'Jaapokki', sans-serif;
}

.card-container {
  padding-top: 100px;
}

@media screen and (min-width: 993px){
  .h-transparent header.header.sticky {
    background: rgba(255, 255, 255, 0.97);
    border-color: rgba(0, 0, 0, 0.04);
  }
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#logo {
  margin: 0 0 0px 15px;
  float: left;
  height: 60px;
}

#logo a {
  display: inline-block;
  height: 60px;
  width: 60px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MuiCardContent-root {
  min-height: 90px !important;
}

.jaapokki {
  font-family: 'Jaapokki', sans-serif;
}